// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;


// LILY
// $blue: #167FFB;
// $green: #1EDD88;


// Matt
// $green: #15AB63; // secondary color

// Mathieu
 // $blue: #1EDD88;
// $green: gold;

// Bence
// $blue: #167FFB;
// $green: #1EDD88;
