// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$white: #ffffff;

// LILY
// $blue: #167FFB;
// $green: #1EDD88;

// Matt
// $green: #15AB63; // secondary color

// Mathieu
// $blue: #1EDD88;
// $green: gold;

// Bence
// $blue: #167FFB;
// $green: #55a630 (we said it wasn't too bad)
