 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml"><base target="_top">
        <head>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
          <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
          <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
          <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
          <title>Welcome to Proudly Aussie!</title>
          <style>
          /* Email styles need to be inline */
         </style>
       </head>

  <body style="margin: 10; padding: 0; font-family: 'Open Sans', sans-serif;">
 
<table align="center" style="border-style:none;" cellpadding="0" cellspacing="0" width="auto">
 <tbody><tr>
  <td align="center" bgcolor="#6E9156" style="padding: 20px 0 10px 0;">
    <img src="https://res.cloudinary.com/dv922jgk3/image/upload/v1600826401/small_logo_fsa7zx.jpg" alt="Email Banner" width="50px" height="50px" style="display: block;">
  </td>
 </tr>
 <tr>
  <td style="padding: 40px 30px 40px 30px, border-style:none;">
  <table cellpadding="20" cellspacing="0" width="100%">
  <tbody><tr>
   <td>
    <h1 style="color: #6E9156; font-size: 20px; text-align: center;">Thank you for joining Proudly Aussie!</h1>
      <p>You're all set! All that's left to do is to add some products to your page!</p>       
      <p>Our team will always be here to assist you if you have any problems. As always, thank you for making Australia a better place !</p><br>     
      <p>Warm regards, from the developers @ProudlyAussie</p>                 
   </td>
 </tr>
 <tr>
  <td>
  <footer>© Proudly Aussie, 2020 <i class="fab fa-twitter"></i> <br> Privacy Policy | Terms | Help | Unsubscribe</footer>
 <tbody>
 <tr>