.dashboard-container {
  height: 75vh;
  margin: 11px 15px;
  padding: 11px 7px;
  background: white;
  border-radius: 12px;
  overflow: scroll;
}

.dashboard-container h3 {
  color: $green;
<<<<<<< HEAD
  margin-top: 20px;
  margin-bottom: 27px;
=======
  margin-bottom: 30px;
  margin-left: 7px;
>>>>>>> master
}

.dashboard-container a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  margin: 7px;
}
tr {
  border-bottom: solid thin rgba($color: #dcdcdc, $alpha: 0.7);
}

td {
  text-align: left;
}

td .fas {
  margin: 10px 8px;
}
