.bg-picture {
  width: 100%;
  height: 125px;
  background-size: cover;
  background-position: center center;
}

.main-infos {
  margin-top: 65px;
  h2 {
    color: $green;
  }
}

.infos {
  h5 {
    color: $green;
  }
  p {
    text-align: justify;
  }
}

.map-placeholder {
  width: 100%;
  height: 300px;
}

.btn-products {
  position: sticky;
  bottom: 30px;
  border-radius: 40px;
  font-weight: bold;
  font-size: 20px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.product-img {
  width: 100%;
  height: 50vh;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.cart-icon {
  font-size: 24px;
}

.active {
  font-weight: normal;
  font-size: 16px;
}

.close {
  color: white;
}

#modal-header-product {
  padding: 12px;
}

#modal-product-body {
  position: relative;
}

.arrow-product-carousel {
  color: rgb(169,169,169);
}

#prev {
  position: absolute;
  top: 20px;
  left: 15px;
}

#next {
  position: absolute;
  top: 20px;
  right: 15px;
}
