<h1>Register your Australian Business on Proudly Aussie</h1>
<p>To create an account on Proudly Aussie, your products must be certified by Australian Made.</p>
<a href="https://australianmade.com.au/" target="_blank">Learn more about Australian Made Licence</a>
<h5>The process</h5>
<ul>
<li>Enter your details</li>
<li>Get Verified</li>
<li>Your're ready to start selling</li>
</ul>
<%= link_to 'Create Your Account', "/producers/new", class:"btn btn-primary" %>