
<div class="container-producer">
<h2 style="color:#6E9156">Sign-On in 2 Steps</h2>
<div class="content p-1 mb-2">
    <p>Before being a Registered Producer with Proudly Aussie, we must certify that your business is certified Australian Made.</p>
    <a href="https://australianmade.com.au/" target="_blank">Find out more here.</a>
</div>
<hr>    
<h5>The Process:</h5>
<br>
        <ol>
            
            <li><h5>Register Your Details</li></h5>
                <p>Register your details with us and we will pass them onto the Australian Made registrar for confirmation</p>
                <br>
            <li><h5>Await Verification</li></h5>
                <p>Once your details have been approved, you are free!</p>
        </ol>
    <div>
        <%= link_to 'Create Your Account', "/producers/new", class:"btn btn-primary btn-producer m-2" %>
    </div>
</div>

