
<div class="container-producer mt-1 mb-3">
<h1 class="text-center" style="color:#6E9156">Congratulations!</h1>
  <svg class="checkmark" viewBox="0 0 52 52">
    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
  </svg>
<div class="content p-1 mb-2">
    <p style="color:#6E9156">We have received your information at Proudly Aussie!</p>
</div>
  <p style="color:#6E9156">Our team is currently reviewing your application and will be in touch soon!</p>
</div>
        <%= link_to 'Back To Home', root_path, class:"btn btn-primary btn-producer mb-2" %>
    
    

