<h1>thank you, your business is being verified!</h1>
<p>Your information have been sent to Proudly Aussie. </p>
<br>
<p>Our team will review them and we will come back to you soon</p>
<p>TO DO</p>
<ul>
<li>tick to come up when page rendered</li>

</ul>