<div class="container text-center">
  <h1>Your business details are being verified!</h1>
  <svg class="checkmark" viewBox="0 0 52 52">
    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
  </svg>
  <p>Your information have been sent to Proudly Aussie. </p>
  <br>
  <p>Our team will review them and we will come back to you soon.</p>
</div>