<%= link_to producer_path(producer), data:{turbolinks:"false"} do %>
  <div class="card-product-pop-up">
    <% if producer.photo.attached? %>
      <%= cl_image_tag producer.photo.key, crop: :fill %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <% end %>
    <div class="card-content-pop-up">
      <h2 class="py-2"><%= producer.name %></h2>
      <p><%= producer.tagline %></p>
    </div>
  </div>
<% end %>
