<!--  map button outside card  -->
<%= @product.each do |product | %>
<div class="card-product">
  <div class="card-product-infos">
    <h2><%= producer.name %></h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
</div>

<% end %>