.badge_cart {
  line-height: 20px;
  width: 20px;
  border-radius: 100%;
  padding: 0;
  background: #7DBD46;
  position: relative;
  top: 13px;
  left: -15px;
  color: white;
  text-align: center;
}
