.container-order {
    margin: 20px 10px 20px 10px;
    .item-list{
        width: 300px;
        margin: 0 auto;
    }
    h1{
        padding-top: 20px;
        text-align: center;
    }
    .btn{
        width: 100%;
        margin-bottom: 10px;
        margin-top: 20px;
        border-radius: 15px;
    }
    .msg-end{
        color: black;
        text-align: center;
    }
    .quote{
        font-weight: bold;
        font-size: 2rem;
        color: $green;
    }

}
.order-summary{
    margin: 40px auto;
    padding-top: 30px;
    h2{
        font-size: 25px;
        text-align: center;
        font-weight: lighter;
        color: $green;
    }
    h3{
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
    .btn-go-pay{
        border-radius: 30px;
        margin-bottom: 70px;
      }
      
    .total-right{
        display: flex;
        justify-content: flex-end;
        position: relative;
        left: 86px;
        top: 10px;
    }

}
.order-confirmation{
    margin: 40px 30px 20px 30px;
    .state{
        border-radius: 30px;
        margin-top: 10px;
        font-weight: 300;
    }
    h2{
        font-size: 25px;
        text-align: center;
        font-weight: lighter;
        margin-bottom: 40px;
        color: $green;
    }
    h3{
        font-size: 16px;
        font-weight: bold;
    }
    .mt{
        padding-top: 30px;
    }
    .btn{
        width: 100%;
        margin-bottom: 10px;
        margin-top: 20px;    
        position: absolute;
        right: 106px;
    }
   
    .change{
        display: flex;
        justify-content: flex-end;
    }
    .p{
        font-weight: lighter;
    }
    .bottom-btn{
        position: fixed;
        bottom: 10px;
        right: 10px;
        left: 10px;
        width: 330px;
        border-radius: 30px;
        margin: auto;
        display: block;
    }
}
 .btn-cont{
    display: flex;
    justify-content: center;
     margin-top: 35px;
}

