.navbar-lewagon {
  // position: absolute;
  width: 100%;
  background: white;
  box-shadow: none;
  justify-content: space-between;
  .navbar-link {
    color: white;
    font-weight: bold;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.icon-black {
  color: black;
}

#navbarSupportedContent {
  background-color: #cccc;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.active {
  font-weight: bold;
  font-size: 20px;
}
