.navbar {
  // position: absolute;
  width: 100%;
  background: $primary;
  box-shadow: 5px;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  .navbar-link {
    color: white;
    font-weight: bold;
  }
  .fa-shopping-bag {
    font-size: 30px;
  }
  .fa-bars {
    font-size: 25px;
  }
}

.icon-black {
  color: black;
}

#navbarSupportedContent {
  background-color: #cccc;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.active {
  font-weight: bold;
  font-size: 20px;
}

.navbar img {
  width: 52px;
  height: 100%;
}

.search-form-control {
  position: relative;
  width: 175px;
  margin-bottom: 0;
}

.search-form-control .btn {
  position: absolute;
  top: 2px;
  right: 1px;
  color: $green;
}

.search-form-control .form-control {
  height: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #e7e7e7;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.9);
}

.search-form-control .form-control:focus {
  border: 1px solid #1edd88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 1);
}

.icon-white {
  color: white;
}

.navbar .fas {
  font-size: 18px;
}
