.container-producer {
  height: auto;
  position: relative;
  padding: 25px;
  background-color: #f6f1ee;
}

.btn-producer {
  position: fixed;
  bottom: 1px;
  right: 10px;
  left: 10px;
  border-radius: 30px;
  margin: auto;
  display: block;
}

.container-producer-confirm {
  height: 70vh;
  padding: 25px;
  background-color: white;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 25px;
}
