$btn_group_color: rgba(0,0,40,0);
.btn-group{
 .btn{
     border-style: none;
     background-color: rgba(110,145,86,0.2);
     border-radius: 10px;
 }
 .btn.active{
     background-color: rgba(110,145,86,0.8) !important;
     color: white !important;
 }
}
